body {background-color: #1b1e21;}

@media (max-height: 875px){

    footer {display: none;}
}

.navbar {border-bottom: 1px solid black!important;}

h1, h2, h3, h4, h5, h6
{
    text-align: center;
    color: #ffc107 !important;
}

.small-page-wrapper
{
    min-height: calc(100vh - 181px);
}

footer
{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #343a40;
    border: 1px solid black;
    border-bottom: none;
}

.lab {color: #ffc107;}

li > a {color: #ffc107 !important;}

span > a {color: #ffc107 !important;}

.wrapper
{
    border: 1px solid black;
    background-color: #343a40;
    margin-bottom: 15px;
}

.register-form-wrapper
{
    border: 1px solid #ffc107;
}

.btn-sign-in {width: 100%;}

#startbutton {
    background-color: #ffc107;
    border:2px solid #242424;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: Trebuchet MS;
    font-size:15px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
}
#startbutton:hover {
    background-color:#f7a311;
}
#startbutton:active {
    position:relative;
    top:1px;
}

.img-container
{
    border: 1px solid #ffc107;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 15px;
}

.gallery-img
{
    width: 100%;
    padding: 0;
}

.img-holder
{
    border: 1px solid #ffc107;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #1b1e21;
    transition: 0.7s;
}

.img-holder:hover
{
    background-color: #ffc107;
}

.comment
{
    border: 2px solid #040300;
    padding: 10px;
    background-color: #141414;
    margin: 10px 0 10px 0;
    box-sizing: border-box;
}

.com-username
{
    color: #ffc107;
    text-decoration-line: underline;
}

.com-content
{
    color: white;
}

.page-item .page-link
{
    background-color: #1b1e21;
    border-color: #ffc107;
}

.page-item.active .page-link
{
    color: black!important;
    background-color: #ffc107;
    border-color: #1b1e21;
}

.like
{
    /*margin: 10px 0 0 48.9%;*/
    transition: 0.3s;
}

.like:hover, .like:active, .liked
{
    color: #ffc107;
    cursor: pointer;
}

.liked:hover
{
    color: black;
}

.btn-like
{
    border: none;
    background-color: transparent;
    margin: 10px 0 0 48.3%;
}

.your_img
{
    border: 1px solid #ffc107;
    padding: 5px;
    margin: 10px 0 10px 0;
}

.filter
{
    width: 100px;
    height: 100px;
}

.rmv-img
{
    color: #ffc107;
}

.filter-checkbox {float: left;}

.item {margin: auto;}

.form-info
{
    font-style: italic;
    color: #a87906;
    display: none;
}

input:focus:invalid
{
    border-color: #FF0000;
    -webkit-box-shadow: 0 0 5px 0 rgba(195, 0, 0, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(195, 0, 0, 0.75);
    box-shadow: 0 0 5px 0 rgba(195, 0, 0, 0.75);
}

input:focus:valid, input:valid
{
    border-color: #56c93f;
    -webkit-box-shadow: 0 0 5px 0 rgba(86, 201, 63, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(86, 201, 63, 0.75);
    box-shadow: 0 0 5px 0 rgba(86, 201, 63, 0.75);
}

input:focus:invalid + span
{
    display: inline;
}